// all Colors Css


:root{
  --background-color: #0b1221;
  --border-color: rgba(248,250,252,.08);
  --text-color: #858b96;
  --hover-text: #fff;
  --button-color: #38bdf8;
  --button-hover-color: #042e4148;
  

}